**/.git
docker
tmp
**/*.ps1
**/.vs
**/.vscode
**/.idea
**/.github
**/.ci
**/*.bat
**/*.example
**/*.slnf
**/*.user
**/.sass-cache
**/*.DotSettings
**/Thumbs.db
*.yml
**/Dockerfile*
**/Dockerfile
*.md
*.txt
*.TXT
**/obj
**/helm
**/.gitignore
**/*.log
artifacts/**
**/node_modules
**/jspm_packages
!artifacts/bin/**
**/vsdbg/
