<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
        <add key="AzurePackagesServiceTitan"
             value="https://pkgs.dev.azure.com/servicetitan-packages/nuget/_packaging/servicetitan-nuget/nuget/v3/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <AzurePackagesServiceTitan>
            <add key="Username" value="nuget-read-only-2022-10-20"/>
            <add key="ClearTextPassword" value="%ST__NuGetKey%"/>
        </AzurePackagesServiceTitan>
    </packageSourceCredentials>
    <bindingRedirects>
        <add key="skip" value="True"/>
        <add key="successRequired" value="False"/>
    </bindingRedirects>
    <config>
        <add key="dependencyVersion" value="Highest"/>
    </config>
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="AzurePackagesServiceTitan">
            <package pattern="ServiceTitan.*"/>
            <package pattern="Xtensive.*"/>
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>
